<a href="https://colab.research.google.com/github/PedroMarcusso09/PedroMarcusso09/blob/main/Web_Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tarefa: Calculadora de Aluguel - Coleta de Dados

In [68]:
# Bibliotecas 
import re # padrão regex
import requests # coletar dados HTML
from bs4 import BeautifulSoup # explorar HTML
import pandas as pd # manipular dados
from time import sleep

In [69]:
# Variavéis
url = ('https://imoveis.mercadolivre.com.br/apartamentos/aluguel/rio-de-janeiro-zona')
zonas = ['norte', 'sul', 'leste', 'oeste']
paginas = ['', '_Desde_49', '_Desde_97', '_Desde_145', '_Desde_193', '_Desde_241']
# Regex
re_quarto = '\| (.*) quarto'
re_area = '> (.*) m²'
re_quarto_area_ausente = "> (.*) quarto"

In [67]:
def coleta_dados(url, zona):
  # Coletar HTML e o seu conteúdo
  req = requests.get(url).content
  sopa = BeautifulSoup(req)
  precos = sopa.find_all('span', {'class': 'price-tag-fraction'})
  areas_quartos = sopa.find_all('ul', {'class': 'ui-search-card-attributes ui-search-item__group__element'})
  
  # Criação de listas e tabelas
  lista_precos = []
  lista_areas_quartos = []
  lista_zonas = []
  for preco, area_quarto in zip(precos, areas_quartos):
    lista_precos.append(preco.text)
    lista_areas_quartos.append(area_quarto.text)
    lista_zonas.append(zona)
    
  dados = {'aluguel': lista_precos,
  'area_quarto': lista_areas_quartos,
  'zona': lista_zonas}
    
  df = pd.DataFrame(dados)

  return df

In [64]:
lista_dfs = []

for zona in zonas:
  for pagina in paginas:
    url = f'https://imoveis.mercadolivre.com.br/apartamentos/aluguel/rio-de-janeiro-zona-{zona}/{pagina}'
    print('Coletando dados de', url)
    df = coleta_dados(url, zona) 
    lista_dfs.append(df)
    sleep(1)

Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/rio-de-janeiro-zona-norte/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/rio-de-janeiro-zona-norte/_Desde_49
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/rio-de-janeiro-zona-norte/_Desde_97
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/rio-de-janeiro-zona-norte/_Desde_145
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/rio-de-janeiro-zona-norte/_Desde_193
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/rio-de-janeiro-zona-norte/_Desde_241
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/rio-de-janeiro-zona-sul/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/rio-de-janeiro-zona-sul/_Desde_49
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/rio-de-janeiro-zona-sul/_Desde_97
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/rio-de-janeiro-zona-sul/_Desde_145
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/rio-de-janeiro-zona-sul/_Desde_193
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/rio-de-janeiro-zona-sul/_Desde_241
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/rio-de-janeiro-zona-leste/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/rio-de-janeiro-zona-leste/_Desde_49
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/rio-de-janeiro-zona-leste/_Desde_97
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/rio-de-janeiro-zona-leste/_Desde_145
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/rio-de-janeiro-zona-leste/_Desde_193
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/rio-de-janeiro-zona-leste/_Desde_241
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/rio-de-janeiro-zona-oeste/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/rio-de-janeiro-zona-oeste/_Desde_49
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/rio-de-janeiro-zona-oeste/_Desde_97
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/rio-de-janeiro-zona-oeste/_Desde_145
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/rio-de-janeiro-zona-oeste/_Desde_193
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/rio-de-janeiro-zona-oeste/_Desde_241

In [65]:
df_imoveis = pd.concat(lista_dfs, axis=0)
df_imoveis

   aluguel                  area_quarto   zona
0    1.490   62 m² construídos2 quartos  norte
1    6.800  138 m² construídos3 quartos  norte
2    1.400   75 m² construídos2 quartos  norte
3      650   43 m² construídos2 quartos  norte
4    1.200   48 m² construídos2 quartos  norte
..     ...                          ...    ...
43   1.800   47 m² construídos2 quartos  oeste
44   2.500   68 m² construídos2 quartos  oeste
45   1.100   55 m² construídos2 quartos  oeste
46   1.550   60 m² construídos2 quartos  oeste
47     900   44 m² construídos2 quartos  oeste

[960 rows x 3 columns]